
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --grey-0: #fff;
    --grey-1: #000;
    --grey-2: #f2f2f2;
    --grey-3: #D9D9D9;
    --grey-4: #f2f2f2;
}

.dark-mode:root{
    --grey-0:#000;
    --grey-1:#fff;
    --grey-2:#011F26;
    --grey-3:#969090;
    --grey-4: #D9D9D9;
}
 
.opcao{
    color: var(--grey-0);
}

.nomes {
    color: var(--grey-1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing:unset;
    font-family: "Poppins", sans-serif;
}


.topo{
    background-color: #EEA503;
}
header{
    height: 10vh;
}
header div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
main{
    background-color: var(--grey-2);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0;
    
}
.titulo{
    color: var(--grey-0);
    font-size: 30px;
}
a {
    text-decoration: none;
}
.logo {
    width: 55px;
    height: 55px;
}

.nome{
    width: 54vw;
}

.funcoes{
    width: 100%;
    height: 7vh;
    background-color: #B1D8DD;
}

.troca-cor{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 7vh;
    background-color: #B1D8DD;
    margin: 0;
}

.rotate{
    position: absolute;
    top: 0;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #B1D8DD;
    height: 7vh;
}

.rotate img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: 10px;
}
.troca-cor img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.circuito{
    background-color: var(--grey-3);
    width: 90%;
    overflow: hidden;
}

.componentes{
    width: 10%;
    background-color: var(--grey-3);
}

.componentes ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center; 
    align-items: center;
}
.componentes ul li{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}



.simulacao{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 7vh;
    width: 100%;
    height: 83vh;
}

.canvas {
    background-color: var(--grey-4);
} 