body {
    background-color: #EEA503;
    height: 100%;
    margin: 0; 
}

html {
    height: 100%;
    margin: 0;
}

.principal {
    display: flex;
    align-items: center; 
    flex-direction: column;
    height: 100%; 
    width: 100%;
}

.imagem-principal {
    max-width: 100%; 
    height: 100%; 
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    height: 100%;
}

.texto-principal {
    font-size: 500px;
    margin: auto;
    margin-top: 30PX;
}

main {
    height: 100%;
}