<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectraVerse</title>
    <link rel="stylesheet" type="text/css" href="pagina-principal.css" />
</head>

<body>
    <main>
        <div class="principal">
            <h2 class="texto-principal">ElectraVerse</h2>
            <div class="imagem-principal">
                <img src="/public/img/Logo-claro.svg" class="logo" alt="...">
            </div>
        </div>
    </main>
</body>

</html>